<div class="news-area"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
>
<div *ngFor="let art of content">
<ion-card class="card">
  <ion-card-header>
    <ion-card-title>{{art.title}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <img src="{{art.imageUrl}}" alt="nu este" class="img-fluid images rounded mx-auto d-block">
    <h1>{{art.summary}}</h1>
    <a href="{{art.url}}">read more...</a>
  </ion-card-content>
</ion-card>
</div>
</div>  
  
